:root {
  background-color: #2b2a33;
}

.container {
  display: flex;
  flex-direction: column;
}

.button-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-disabled {
  background-color: #42414d;
  font-size: 22px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  position: relative;
  filter: drop-shadow(0px 8px #00000022);
  border-radius: 8px;
  color: white;
  width: 100%;
  height: 3.5em;
  margin: 1em 2em;
  transition:
    background-color 0.2s,
    filter 0.2s;
}

.button-disabled:hover {
  filter: drop-shadow(0px 0px #00000000);
  background-color: #535260;
}

.button-disabled:active {
  transition: background-color 0.05s;
  background-color: #e60000;
}

.button-enabled {
  background-color: #42414d;
  font-size: 22px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  position: relative;
  filter: drop-shadow(0px 8px #00000022);
  border-radius: 8px;
  color: white;
  width: 100%;
  height: 3.5em;
  margin: 1em 2em;
  transition:
    background-color 0.2s,
    filter 0.2s;
}

.button-enabled:hover {
  filter: drop-shadow(0px 0px #00000000);
  background-color: #535260;
}

.button-enabled:active {
  transition: background-color 0.05s;
  background-color: #77758a;
}

.unhappy-text {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  font-size: 24px;
  color: white;
  transition: transform 1s linear, opacity 1s ease-out;
}

.unhappy-text.show {
  opacity: 1;
  transform: translateY(-100px);
}

.unhappy-text.out {
  opacity: 0;
  transform: translateY(-150px);
  transition: transform 0.5s linear, opacity 0.5s ease-in;
}

canvas {
  align-self: center;
  width: 512px;
  height: 512px;
}

.iteration-counter {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 22px;
  font-weight: bold;
  align-self: center;
}

.iteration-counter .num {
  color: red;
}
